body {
    font-family:Arial, Helvetica, sans-serif;
    background:lightgray;
}

/* Structure */
#content {
    padding: 5px;
    width: 80%;
    margin: auto; /* center horizontally */
    border-radius: 5px;
} 

/* Main Navigation */
#main-nav ul {
    padding-left: 0; /*remove list indent */
}

#main-nav li {
    list-style-type: none; /* remove bullet */
    background: lightgray;
    padding: 5px;
    border-bottom: 1px solid #75583C;
}

#main-nav a {
    text-decoration: none; /* remove underline */
    background: #75583C;
    color: white;
}

/* Typography (font)*/

h1, h2, p{
    color:#0c8297;
    text-align: center;
}

#main-header, #main-content, #main-footer {
    background-color: rgb(109, 57, 9);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#main-subcontent {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align:center;
}

/*for larger resolutions*/
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }

    .columns section {
        padding: 5px 20px;
    }

    .one, #main-nav li {
        flex: 1;
    }
    
    .two {
        flex: 2;
    }

    .columns img{
        max-width: 80%;
        display: block;
        margin: auto;
    }

    #main-nav li {
        text-align: center;
        border-bottom: 2px transparent;
    }

    #main-nav li:hover {
        border-bottom: 2px solid #BF7839;
    }

}
