body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(64, 104, 196);
    color: #fff;
}

.recording-section {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#infoTextBox {
    margin-top: 10px;
}

.action-buttons {
    text-align: center;
    margin: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}