:root {
    --bg-color: #42b883;
    --header-color: #347474;
    --box-color: #35495e;
    --text-color: #ff7e67;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tree-box {
    width: 200px;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: var(--box-color);
}

.tree-box img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    color:black;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}