:root {
    --square-top: 0px;
    --background-color: rgb(64, 104, 196);
    --primary-color: #fff;
    --secondary-color: #dfd3c3;
    --third-color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.toggle-bar {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 10px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.two-column-layout {
    display: flex;
}

.left-column, .right-column {
    width: 50%;
    padding: 20px;
}

div {
    text-align: center;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}