body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    background-color: #97cba9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #dde0ab;
    color: #97cba9;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

.sub-header {
    text-align: center;
}

.exercise-menu p {
    display: none;
}

.exercise-menu select {
    display: none;
}

.exercise-menu {
    text-align: center;
}

.exercise-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#exercise1-images, #exercise2-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#exercise1-images img, #exercise2-images img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

p a {
    color: #dde0ab;
}

footer {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #668ba4;
}

/* Toggle menu styles for small screens */
@media screen and (max-width: 600px) {
    nav {
        display: block;
    }

    #menu-icon {
        cursor: pointer;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        padding: 10px;
        border-bottom: 1px solid #fff;
        margin: 0;
    }
}